@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.otf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

strong {
    font-weight: 550;
}

section {
    padding: 6rem 0;
}

section#contact {
    padding: 3.5rem 0;
}

section.footer {
    padding-top: 3.5rem;
    padding-bottom: 0rem;
}

nav {
    background-color: white;
}

.nav-text-name,
.brand-logo.center {
    color: #127da1;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.side-nav {
    position: absolute;
    width: 40vw;
    left: 115%;
    background-color: white;
    height: 100vh;
    outline-color: white;

}

.side-nav li > a:hover {
    background-color: #127da1;
}

.nav-text-name:hover, .black-color.sideNavClose.left {
    color: black;
}

.nav-text {
    color: black;
    text-transform: uppercase;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
}

.nav-text:hover,
.nav-text:active {
    background-color: rgba(18, 125, 161, .9);
    color: white;
}

.left.material-icons.sideNavClose {
    margin: 0;
    padding-right: 0;
}

.button-collapse > .material-icons {
    color: black;
    margin: 0;
}

nav .button-collapse {
    float: right;
    cursor: pointer;
}

.landing-img > img {
    width: 100%;
}

hr {
    max-width: 75px;
    height: 8px;
    border-radius: 2px;
    background-color: #127da1;
    margin-top: 3%;
    margin-bottom: 3%;
}

h3.white-color,
h4.white-color,
.white-color,
.white-color.sideNavClose.left {
    color: white;
}


hr.white-color {
    background-color: white;
}

hr.sub {
    max-width: 50px;
    height: 5px;
    border-radius: 1px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.35rem;
}

.card-image > img {
    width: 100%;
    height: 320px;
}

.card .card-content {
    padding: 2%;

}

.row .col.card {
    padding: 0px 4px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, .2);
    margin-top: 0.5%;
    margin-bottom: 0;
}

.card .card-title {
    font-weight: bold;
}

.card-title.card-open {
    color: #127da1;
    font-weight: bold;
}

.btn,
.btn:focus {
    background-color: #127da1;
    font-weight: bold;
    padding: 0 1rem;
    margin-right: 5%;
}

.btn:hover {
    background-color: #127da1;
    filter: brightness(125%);
}

.work-img {
    object-fit: cover;
}

#about {
    background-color: #127da1;
}

.background-info {
    display: inline-block;
}

#aboutImg {
    filter: drop-shadow(10px 8px 2px #333333);
}

.bgImg {
    display: block;
    width: 40%;
    margin: 3% auto;
    filter: drop-shadow(5px 5px 2px #333333);
}

.background-text {
    padding: 5%;
}

p.text-faded {
    margin-top: 5%;
    margin-bottom: 5%;
}

.skills > img {
    width: 50%;
}

.skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3% auto;
}

.cssLogo.col.s3 {
    width: 19%;
    margin-right: 6%;
}

.oopLogo.col.s3 {
    margin-top: 5%;
}

.apiLogo.col.s3 {
    width: 20%;
    margin-right: 5%;
}

.reduxLogo.col.s3 {
    width: 22%;
    margin-bottom: 3%;
}

#contact {
    background-color: #212529;
}

.input-field .prefix,
.input-field input,
.input-field textarea {
    color: white;
}

.material-icons.prefix.active {
    color: #127da1;
}

.input-field > input[type=text]:focus + label {
    color: #127da1;
}

.input-field > input[type=text]#icon_prefix:focus,
.input-field > input[type=email]#icon_email:focus,
.input-field > input[type=text]#icon_prefix2:focus,
.input-field > textarea[type=text]#textArea1:focus {
    border-bottom: 1px solid #127da1;
    box-shadow: 0 1px 0 0 #127da1;
}

p.text-faded.contact {
    margin: 2%;
    text-align: center;
}

p.text-faded.contact.dark {
    color: black;
}

form > .row {
    margin-bottom: .5%;
}

.contact-response {
    display: inline-block;
}

.contact-response.preloader-wrapper {
    width: 25px;
    height: 25px;
}

.footer {
    background-color: white;
}

.footer-links {
    display: inline-block;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}

.row.footerRow {
    text-align: center;
}

#github-logo,
#linkedin-logo {
    width: 50px;
}

.footer-links .material-icons,
.footer-links > a {
    color: #127da1;
    font-weight: 500;
}

.footer-links > a:hover {
    text-decoration: underline;
}

.footer-links i {
    transform: translateY(5px);
}

.footer-links i:active {
    transform: translateY(7px);
}

.footer-links img:active {
    transform: translateY(2px);
}

@media (max-width: 991px) {
    .skillsText {
        margin-top: 2%;
    }
}

